{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="accueil--body">
    <h1> Accueil</h1>

    <h2> Ecrivez un message </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="save">
    {{ form_end(form) }}

    <div class="separator"> </div>

    <div class="accueil--messages"> 
    
    {% for entity in entities %}
    <div>
    {{ entity.id }}: {{ entity.content }}<br>
    </div>
    {% endfor %}
    
    
    
    </div>
</div>
{% endblock %}
